<form #userForm="ngForm" style="width:100%;margin-top:10px">

  <div fxLayout="row" fxLayoutAlign="center center" style="width:100%;margin-top:5px">
    <label style="font-weight: 400;color: gray;size: 10px;">Address :</label>

    <ion-row>
      <ion-col size="3">
        <ion-fab-button size="small" (click)="clicklocation()">
          <mat-icon>my_location</mat-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col size="8">
        <mat-form-field  appearance="standard">
            <input matInput [(ngModel)]="cityName" ngx-google-places-autocomplete
              [options]='options' #placesRef="ngx-places" name="city" required  
              (onAddressChange)="handleAddressChange($event)">
              <mat-error>
                <div class="form-group">
                  <div *ngIf="cityName.invalid && (cityName.dirty || cityName.touched)">
                    City Name Is Requird
                  </div>
                </div>
              </mat-error>
          </mat-form-field>  
      </ion-col>
    </ion-row>

    <ion-label>Distance(in km : {{distance}})</ion-label>
    <ion-range min="1" debounce="300" max="200" pin="true" snaps="true" step="20" ticks="true" [value]="distance" color="primary"
      (ionChange)="rangeChange($event)">
      <ion-icon slot="start" size="small" name="pin-outline"></ion-icon>
      <ion-icon slot="end" size="small" name="pin-outline"></ion-icon>
    </ion-range>

  </div>
</form>
<div fxLayout="row" fxLayoutAlign="center center" style="margin-top:10px;width:100%">
  <button fxFlex="45" mat-raised-button (click)="closeDialog()" style="margin-right:15px;font-size:13px">CANCEL</button>
  <button fxFlex="45" mat-raised-button (click)="submit()" class="loginButton" style="font-size:13px"
    [disabled]="cityName.invalid">SUBMIT</button>
</div>




