

.loginButton{
    background-color: #fb7645;
    color: white;
  }
  
  ion-range{
    padding: 0 !important; 
    margin: 0 !important;
  }

  ion-label{
    color: gray !important;
    margin-left: 6px;
  }

  ion-row{
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-color: blue;
  }

  mat-form-field{
    width: 170px !important;
    margin-bottom: -1em !important;
    margin-top: -0.25em !important;
    padding: 0px !important;
  }

  .locationButton{
    $fab-size : 5px;
  }
  



 