<ion-header>
  <ion-toolbar>
    <ion-title>Advertisement Plans &nbsp;
      <ion-icon  style="height: 35px; width:20px"  name="close" (click)="clear(0)">
      </ion-icon>
      <!-- <img src="../../assets/adPackages.jpg" style="width: 200px;height: 400px;"> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 425px;">


    <!-- <icon-  mat-raised-button class="clear-button-css" (click)="clear()">Close</button> -->

    <img src="../../assets/adPackages.jpg" (click)="clear(1)" >

</ion-content>
