/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



// ion-menu {
//     --ion-background-color: #2f4d6b;
//     --ion-text-color: #152a3f;
  
//     ion-toolbar {
//       --background: #152a3f;
//     }
  
//     ion-list {/* optional, but it needs when you use gradient as a background color.*/
//       background: transparent;
//     }
//   }

//   .item-complex .item-content, .item{
//     background: linear-gradient(to bottom, #152a3f 0%, #66ccff 100%);
// }


// .mat-form-field-flex {
  
//   background-color: rgb(156, 153, 153) !important;
// }



// .mat-form-field-outline {
  
//   top: 7px;
//   height:55px;
// }

// .mat-form-field-wrapper {
//   padding-bottom: 0.344em;
//   margin-top:10px;
// }




.new-background-color{
  // --background: #152a3f;
  // --background: #fb7645;
  --background: linear-gradient(to right, #fe4f14,#fe8860,#feae93);
  
}

.new-toolbar-background-color{
  --background: white;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {

  background-color:  white;

}


.mat-form-field-appearance-outline .mat-form-field-outline {
  display: flex;
  position: absolute;
  /* top: .25em; */
  left: 0;
  right: 0;
  bottom: 0px;
  // height:55px;
  pointer-events: none;
}


.mat-form-field-flex {
  background-color: white !important;
}

.cl_select  .mat-form-field-flex {
  
  background-color: #31897b !important;
}

.cl_select_week  .mat-form-field-flex {
  
  background-color: #50a46c !important;
}


.mat-form-field-subscript-wrapper {
  font-size: 75%;
  /* margin-top: .66667em; */
  top: calc(100% - 1.79167em);
}

.mat-form-field-appearance-outline .mat-form-field-outline {

 
  bottom: 0;

}

// ::ng-deep {

//   .mat-form-field-flex {
  
//     background-color: #31897b !important;
//   }
// }

ion-segment-button {
  --background-checked: white;
 
  --color-checked: #152a3f;
}


 .mat-step-header .mat-step-icon-state-done, 
.mat-step-header .mat-step-icon-state-edit {
    background-color: #fe4f14 !important;
    color: #ffffff !important;
}


.mat-step-header .mat-step-icon-selected
 {
    background-color: #fe8860 !important;
    color: #ffffff !important;
}

.mat-step-icon .mat-icon {
  font-size: 13px !important;
  height: 16px;
  width: 16px;
}

.mat-step-icon .mat-icon, .mat-step-icon-content {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 13px;
  transform: translate(-50%,-50%);
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}


.add-city-dialog-container .mat-dialog-container {
  
  border-radius: 15px;
  box-sizing: border-box;
}


.show-filter-category-dialogue .mat-dialog-container {
  
  border-radius: 15px;
  margin-right:30%;
  position: absolute; 
  left:10px;
  bottom:6%;
  padding:10px;
  width:70%;
 background-color: rgb(0, 0, 0,0.8);
  // min-height:50%;
  // max-height:100%;
  
}
